name: GraphQL and OpenAPI Contract Guard

on: 
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - labeled
      - unlabeled

jobs:
  graphql-openapi-contract-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        # If the 'prod' branch is a new one, you might need to fetch all history
        # (fetch-depth: 0) to ensure it's available.
        with:
          fetch-depth: 0 

      - name: Run a script
        run: echo "Workflow triggered by ${{ github.event.action }} event"

      - name: Execute install libs script
        run: /bin/sh src/scripts/install-libs.sh

      - name: GraphQL - Execute pre script
        run: /bin/sh src/scripts/pre-graphql-check.sh

      - name: GraphQL - Execute post script
        run: /bin/sh src/scripts/post-graphql-check.sh
        env:
          PR_LABELS: ${{ join(github.event.pull_request.labels.*.name, ' ') }}